cffi==1.14.5
chardet==4.0.0
cockpit==334.2
configshell-fb==1.1.30
coverage==7.10.7
cryptography==36.0.1
dasbus==1.4
dbus-python==1.2.18
distro==1.5.0
file-magic==0.4.0
gpg==1.15.1
gunicorn==23.0.0
idna==2.10
kmod==0.1
libcomps==0.1.18
netifaces==0.10.6
nftables==0.1
nvmetcli==0.8
packaging==26.2
pciutils==2.3.6
perf==0.1
pexpect==4.8.0
ply==3.11
psutil==5.8.0
ptyprocess==0.6.0
pycparser==2.20
PyGObject==3.40.1
pyinotify==0.9.6
pyOpenSSL==19.0.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-dmidecode==3.12.2
python-linux-procfs==0.7.3
pyudev==0.22.0
PyYAML==5.4.1
requests==2.25.1
rhnlib==2.8.6
rpm==4.16.1.3
selinux==3.6
sepolicy==3.6
setools==4.4.4
setroubleshoot==3.3.32
six==1.15.0
sos==4.10.0
systemd-python==234
urllib3==1.26.5
urwid==2.1.2
